 .container {
      display: flex;
      gap: 20px;
    }
  .phone {
    text-align: center;
    cursor: pointer;
    
  }

  .phone img {
    width: 120px;
    height: 180px;        
    object-fit: contain; 
    border: 1px solid #999;
    padding: 5px;
    background: #fff;
  }
    table {
      border-collapse: collapse;
      width: 400px;
    }
    th, td {
      border: 1px solid #000;
      padding: 6px;
      text-align: center;
    }
    button {
      cursor: pointer;
    }
    
#counterDisplay {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.counter-btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #098a46;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counter-btn:hover {
    background-color: #076632;
}
